name: CI Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: action/checkout@v5

      - name: Setup Node.js
        uses: action/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm Install

      - name: Run test
        run: npm test
